* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #0b132b;

}

.container {
	padding: 1rem;
	border: 1px solid black;
	background-color: #fff;
	width: 350px;
	border-radius: 20px;
}

h2 {
	text-align: center;
	padding: 15px 0;
}


.option {
	display: flex;
	justify-content: space-between;
	padding: 4px;
}

.option label {
	font-size: 1.2rem;
}


.option input[type=checkbox] {
	height: 20px;
	width: 20px;
}

.result__container {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid black;
	padding: 0 5px;
	border-radius: 5px;
}

.result-container #result {
	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result__container #copy {
	height: 40px;
	width: 40px;
	background-color: #eb1606;
	border-radius: 5px;
	color: #ffffff;
	border: none;
	cursor: pointer;
	outline: none;
}

.result__container #copy:hover {
	background-color: #1c2541;
	color: #ffffff;
}

#generate {
	height: 40px;
	width: 100%;
	border-radius: 10px;
	border: none;
	background-color: #0b132b;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

#generate:hover {
	background-color: #5bc0be;
	color: #ffffff;
}